{% extends 'master.html' %}
{% block content %}
       
<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/images/corn-2655525_1280.jpg" alt="Los Angeles" width="1500" height="750">
        <div class="carousel-caption">
          <h3>Crop Yield Prediction System</h3>
          <p>Using Machine Learning to predict Crop Yield</p>
        </div>   
      </div>
      <div class="carousel-item">
        <img src="/static/images/corn-2821420_1280.jpg" alt="Chicago" width="1500" height="750">
        <div class="carousel-caption">
          <h3>Precision Farming</h3>
          <p>Know the expected crop yield output</p>
        </div>   
      </div>
      <div class="carousel-item">
        <img src="/static/images/plants-7267911_1280.jpg" alt="New York" width="1500" height="750">
        <div class="carousel-caption">
          <h3>Cost input vs Expected output</h3>
          <p>Determine whether you will make a profit or loss</p>
        </div>   
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  <br><br>
  <div class="text-justify">
    The Maize yield prediction model using machine learning involves leveraging 
    algorithms to analyze historical and real-time data to forecast the potential maize harvest.
  </div>
  <br><br>
  <div class="row">
    <h2 class="text-center">Features and Variables</h2>
    <div class="col">
      <h5>Weather Data</h5>
      <p>Temperature and Rainfall</p>
    </div>
    <div class="col">
      <h5>Soil Information</h5>
      <p>Soil pH</p>
      </div>
    <div class="col">
      <h5>Crop Health</h5> 
      <p>Pest and Diseases incidence</p> 
    </div>
  </div>
  <div class="jumbotron">
    <h2>Benefits</h2>
    <p><b>Precision Farming:</b> Farmers can optimize resource allocation by 
      receiving accurate predictions, allowing for better planning of irrigation, fertilization, and pest control.</p>
      <p><b>Risk Management:</b> Predictions help farmers anticipate potential yield fluctuations due to weather conditions, 
        enabling them to implement risk mitigation strategies.</p>
        <p><b>Cost Reduction:</b> By optimizing resource usage, farmers can reduce unnecessary expenses on inputs like water and fertilizer.</p>
        <p><b>Increased Productivity:</b> With more informed decision-making, farmers can enhance overall productivity and crop yield.</p>
        <p><b>Timely Interventions:</b> Early detection of issues such as pest infestations or nutrient deficiencies allows for timely interventions,
           preventing potential yield losses.</p>
           <p><b>Adaptability: </b>The model can adapt to changing conditions, providing dynamic and responsive predictions throughout the growing season.</p>
  </div>
    
{% endblock %}